html {
    font-size: 24px;
}

.rating {
    display: flex;
    background: red;

    &:hover >div {
        background: url('../../images/star-full.svg') !important;
        background-repeat: no-repeat;
    }

    >div {
        background: green;
        height: 1rem;
        width: 1rem;
        background: url('../../images/star-full.svg');

        &:hover ~ div {
            background: url('../../images/star-empty.svg') !important;
        }

        &.active ~ div {
            background: url('../../images/star-empty.svg');
        }
    }

    &[data-rating-enabled="false"] {
        >div {
            &:hover ~ div {
                background: url('../../images/star-full.svg') !important;
            }

            &.active ~ div {
                background: url('../../images/star-empty.svg') !important;
            }
        }
    }

    &[data-rating="0"] {
        >div {
            background: url('../../images/star-empty.svg');
        }
    }
}