html {
    font-size: 24px;
}

$full: '../../images/star-full.svg';
$empty: '../../images/star-empty.svg';
$prefix: 't';

#{$prefix}-rating[value] {
    display: flex;

    t-wrap {
        display: flex;

        >div {
            height: 1rem;
            width: 1rem;

            background: url($full);
        }
    }

    // No rating
    &[value="0"] {
        t-wrap {
            >div {
                background: url($empty);
            }
        }
    }

    // Fill
    [data-rating-active] {
        background: url($full);

        &~div {
            background: url($empty);
        }
    }

    // Hover
    #{$prefix}-wrap {
        &:hover {
            >div {
                background: url($full);
            }
        }
    }

    #{$prefix}-wrap {
        >div:hover {
            background: url($full);
            &~ div {
                background: url($empty);
            }
        }
    }
}